@import "variables";

@mixin phone-btn-container(
  $width: 2.5px,
  $height: 50px,
  $offsetY: 170px,
  $offsetX: 100%
) {
  cursor: pointer;
  content: "";
  position: absolute;
  top: $offsetY;
  left: $offsetX;
  width: $width;
  height: $height;
  background-color: lightgray;
}

@mixin build-action-icon($img) {
  border-radius: 50%;
  cursor: pointer;
  padding: $spacer * 1.4;
  background-color: rgba(95, 95, 95, 0.55);
  background-image: url($img);
  background-position: center;
  background-repeat: no-repeat;

  &:active {
    //animation: clickIcons .5s ease-in;
    transition: 0.5s all ease-out;
    background-color: rgba(95, 95, 95, 0.8);
    padding: $spacer * 1.6;
  }
}

@mixin build-icon($icon, $width: 24px, $height: 24px) {
  width: $width;
  height: $height;
  background: url("../../assets/icons/#{$icon}") no-repeat center center;
}

@mixin build-app($size-on: "on") {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  @if ($size-on == "on") {
    width: 48px;
    height: 48px;
  }

  &:active {
    animation: pressedApp 0.4s ease-in;
    animation-fill-mode: forwards;
  }

  & img {
    justify-content: center;
    border-radius: 10px;
  }

  & span {
    color: #fff;
    font-size: 8pt !important;
    font-weight: 400;
    font-family: "SF PRO Regular", sans-serif;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }

  &:hover::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.3s ease;
  }
}

@keyframes pressedApp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1.1);
  }
}
