.phone-container {
  position: relative;
  width: 380px;
  height: 750px;
  border: 0.5px solid #000;
  border-radius: 40px;
  margin: 4rem auto;
  padding: 1rem;
}
.phone-container__notch:after {
  content: "";
  position: absolute;
  left: 30.5%;
  width: 150px;
  height: 25px;
  background-color: #000;
  border-top: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 9999;
}
.phone-container__controls-power-off:after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 170px;
  left: 100%;
  width: 2.5px;
  height: 50px;
  background-color: lightgray;
}
.phone-container__controls-volume-up:before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 140px;
  left: 0;
  width: 2.5px;
  height: 50px;
  background-color: lightgray;
}
.phone-container__controls-volume-down:before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 210px;
  left: 0;
  width: 2.5px;
  height: 50px;
  background-color: lightgray;
}
.phone-container__screen {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  z-index: -1000;
}

.lock-screen {
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  color: #fff;
}
.lock-screen-enter {
  opacity: 0;
}
.lock-screen-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.lock-screen-exit {
  opacity: 0;
}
.lock-screen-exit-active {
  opacity: 1;
  transition: opacity 300ms;
}
.lock-screen__blocked {
  background: url("../img/lock-filled.svg") no-repeat;
  width: 48px;
  height: 48px;
}
.lock-screen__date {
  font-family: "SF Pro Thin", sans-serif;
  font-size: 16pt;
}
.lock-screen__time {
  font-size: 48pt;
  font-family: "SF Pro Thin", sans-serif;
  font-weight: 500;
}
.lock-screen__bottom {
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 3rem;
}
.lock-screen__bottom-swipe {
  font-size: 8pt;
  font-family: "SF PRO Regular", sans-serif;
  margin-top: 1.5rem;
  animation: 5s swipe-up infinite ease-in-out;
}
.lock-screen__bottom-swipe div {
  margin-top: 0.5rem;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
}
@keyframes swipe-up {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-35%);
  }
  50%, 100% {
    transform: translateY(0);
  }
}
.lock-screen__bottom-icon-flashlight {
  border-radius: 50%;
  cursor: pointer;
  padding: 1.4rem;
  background-color: rgba(95, 95, 95, 0.55);
  background-image: url("../../assets/icons/flashlight-off.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.lock-screen__bottom-icon-flashlight:active {
  transition: 0.5s all ease-out;
  background-color: rgba(95, 95, 95, 0.8);
  padding: 1.6rem;
}
.lock-screen__bottom-icon-camera {
  border-radius: 50%;
  cursor: pointer;
  padding: 1.4rem;
  background-color: rgba(95, 95, 95, 0.55);
  background-image: url("../../assets/icons/camera.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.lock-screen__bottom-icon-camera:active {
  transition: 0.5s all ease-out;
  background-color: rgba(95, 95, 95, 0.8);
  padding: 1.6rem;
}

.notification-container {
  margin-top: 2rem;
  max-height: 360px;
  overflow-y: auto;
}
.notification-container__item {
  background-color: rgba(95, 95, 95, 0.55);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.notification-container__item-icon img {
  border-radius: 6px;
}
.notification-container__item-title {
  font-size: 8pt;
  font-weight: 600;
}
.notification-container__item-subtitle {
  font-size: 8pt;
  font-weight: 250;
}
.notification-container__item-time {
  color: rgb(190, 190, 190);
  font-size: 8pt;
  text-align: end;
}

.blurred-container {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  padding: 0 0.5rem;
  border-radius: 40px;
  z-index: 1;
}

/*# sourceMappingURL=phone-container.css.map */
